body {
  background-color: #aa998f;
}

dt,h2 {
  font-family: "Macondo", cursive;
}
#navigation {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
#connections {
  background-color: #FEEBD7;
  width: 30rem;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  border: 0.2em solid black;
}
#coding {
  background-color: #FEEBD7;
  width: 40em;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 0.2em solid black;
}
#aboutme {
  background-color: #FEEBD7;
  width: 50em;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 0.2em solid black;
}
#image {
  margin: 0 1.5em 1.5em 1.5em;
  height: 30em;
  width: 22em;
}
#main_title {
  font-family: "Rubik Doodle Shadow", system-ui;
  color: beige;
  background-color: #723d46;
  padding: 0.5em;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}
#img_description {
  background-color: #ADADAD;
  border-radius: 1em;
  border: 0.1em solid black;
  margin: 1em;
  width: 75em;
}
#pic_title {
  margin: 1em;
}
.subpage li,
.subpage p,
.subpage ul  {
  margin: 1em;
  color: #55251d;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
.firstpage dd,p,li{ 
    color: #03120E;
    font-family: "Merriweather", serif;
    font-size: 0.8em;
}
.links a{
  color: darkgreen;
}
